**/uv.lock
**/.venv
**/__pycache__
**/.ruff_cache
**/.mypy_cache
**/.idea
**/start.bat
**/node_modules
**/*.db
**/tg_frontend/token.env
**/tg_frontend/reminder_chat_ids.json
**/tg_frontend/user_chat_ids.json